nav{
    display: flex;
    flex-wrap: wrap;
}

a{
    flex-grow: 1;
    text-decoration: none;
    padding: 5px;
    border: 1px black solid;
    border-radius: 1rem;
    text-align: center;
    font-size: larger;
    margin: 10px;
    background-color: rgb(222, 255, 244);
}

.active {
    background-color: rgb(43, 43, 43);
    color: white;
}