body{
    background-color: blue;
}

main{
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;

}

nav{
    display: flex;
    flex-wrap: wrap;
}

a{
    flex-grow: 1;
    text-decoration: none;
    padding: 5px;
    border: 1px black solid;
    border-radius: 1rem;
    text-align: center;
    font-size: larger;
    margin: 10px;
    background-color: rgb(222, 255, 244);
}

input{
    margin: auto;
    margin-right: 10px;
}

button{
    border-radius: .5rem;
    box-shadow: 2px 2px ;
}

button:hover{
    box-shadow: 1px 1px;
    position: relative;
    top: 1px;
    left: 1px;
}

button:active{
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 2px;
}

.active {
    background-color: rgb(43, 43, 43);
    color: white;
}

.userinput{
    display: flex;
}

.blah{
    color: red;
    font-weight: bold;
}

.box{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}