body{
    background-color: blue;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav{
    display: flex;
    flex-wrap: wrap;
}

a{
    flex-grow: 1;
    text-decoration: none;
    padding: 5px;
    border: 1px black solid;
    border-radius: 1rem;
    text-align: center;
    font-size: larger;
    margin: 10px;
    background-color: rgb(222, 255, 244);
}

.UserInput{
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
}
.active {
    background-color: rgb(43, 43, 43);
    color: white;
}

.blah{
    color: red;
    font-weight: bold;
}

#OutputInfo{
    text-align: center;
}