body{
    background-color: blue;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.UserInput{
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
}

.blah{
    color: red;
    font-weight: bold;
}

#OutputInfo{
    text-align: center;
}