body{
    background-color: blue;
}

main{
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;

}

input{
    margin: auto;
    margin-right: 10px;
}

button{
    border-radius: .5rem;
    box-shadow: 2px 2px ;
}

button:hover{
    box-shadow: 1px 1px;
    position: relative;
    top: 1px;
    left: 1px;
}

button:active{
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 2px;
}

.userinput{
    display: flex;
}

.blah{
    color: red;
    font-weight: bold;
}

.box{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}