main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    text-align: center;
}

label, input{
    display: flex;
    margin: 10px 0;
    width: 100%;
}

input{
    padding: 5px;
    
}

button{
    display: block;
    margin: 10px auto;
    text-align: center;
}