body{
    background-color: darkgrey;
}

main{
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: white;
    border: 1px black solid;
    padding: 10px;
}

.blah{
    color: red;
    font-weight: bold;
}